*{
 margin: 0;
 padding: 0;
 background-color: rgba(73, 66, 66);
 text-align: center;
}
h1{
    background-color: rgb(47, 36, 47);
    color: aliceblue;
    height: 70px;
   line-height:70px ;
}
.choice{
   width: 260px;
    height:390px;
}
img{
    width: 250px;
    height:380px;
    object-fit: cover;
}
.choice:hover{
    opacity: 0.5;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-bottom: 4mm;
}
#user-score, #comp-score{
    font-size: 4rem;
    margin-top: 1mm;
    
}

.msg{
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 1mm;
    border-radius: 1rem;
}